@model LibrarySysAuth.Models.LibraryViewModel



@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID number
                <!-- @Html.DisplayNameFor(model => model.BookCs[0].BookCID)-->
            </th>
            <th>
                Title
                <!-- @Html.DisplayNameFor(model => model.BookCs[0].TitleC)-->
            </th>
            <th>
                Author
                <!-- @Html.DisplayNameFor(model => model.BookCs[0].AuthorC)-->
            </th>
            <th>
                Rented
            </th>
            <th>
                Rented by User
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookCs)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookCID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentedbyReader)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.BookCID">Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>
<hr />
<div class="Addbook" style="margin-top:70px">
    <form asp-controller="BookList" asp-action="AddBook" autocomplete="off">
        <h5>Add new book</h5>
       
        <p>
            Title  <input type="text" name="titlebook" />
        </p>
        <p>
            Author <input type="text" name="authorbook" />
        </p>
        <p>
            <input type="submit" value="Add" />
        </p>
    </form>
</div>
